Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/supermarket_sales.csv')  
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [4]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

Філіал С має найвищий прибуток.

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [34]:
df.pivot_table(index = 'City', columns = 'Branch', values = 'gross income', aggfunc = 'sum')

Branch             A         B          C
City
Mandalay         NaN  5057.032        NaN
Naypyitaw        NaN       NaN  5265.1765
Yangon     5057.1605       NaN        NaN

Філіал з найвищим прибутком (С) знаходиться у місті Naypyitaw.

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [39]:
invoices_by_category = df.pivot_table( index = 'Branch', columns = 'Product line', values = 'Invoice ID', aggfunc = 'size')  
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [50]:
invoices_by_category.groupby('Branch')['Electronic accessories'].max()

Branch
A    60
B    55
C    55
Name: Electronic accessories, dtype: int64

У філіалі А найбільше інвойсів з категорії товарів "Електронні аксесуари".

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Гіпотеза 1. Жінки купують більше за чоловіків.

In [51]:
df.groupby('Gender')['Quantity'].sum()

Gender
Female    2869
Male      2641
Name: Quantity, dtype: int64

Так,жінки купують трози більше товарів ніж чоловіки, але різниця у 200+ одиниць не дуже велика.Перевіримо чи приносять жінки більший прибуток ніж чоловіки.

In [52]:
df.groupby('Gender')['gross income'].sum()

Gender
Female    7994.425
Male      7384.944
Name: gross income, dtype: float64

In [54]:
#перевіряємо який відсоток прибутку становлять покупки від жінок та від чоловіків
df.groupby('Gender')['gross income'].sum() / df['gross income'].sum()

Gender
Female    0.519815
Male      0.480185
Name: gross income, dtype: float64

Отже, за результатами можемо зробити висновок,що жінки купують на більшу суму товарів і становлять 52% всього прибутку,коли прибуток від покупок,зроблених чоловіками становить на 4 % менше.

Гіпотеза №1 вірна. Можливі бізнес-рішення: стимулювання чоловіків купувати більше введенням акцій/спеціальних пропозицій на товари для чоловіків;таке ж саме можна ввести і для жінок.

Гіпотеза №2.Покупці з клубною карткою купуть більше.

In [57]:
pivot_member = df.pivot_table(index = 'Customer type', columns = 'City', values = 'Total', aggfunc = 'sum')  
pivot_member

City            Mandalay   Naypyitaw      Yangon
Customer type
Member         53704.686  56881.2825  53637.4755
Normal         52492.986  53687.4240  52562.8950

Згідно отриманої таблиці можнм зробити висновок, що в усіх містах покупці з клубною картою купляють на загальну суму більше,ніж покупці без карти. Рекомендації: введення додаткових спеціальних пропозицій/цін для власників клубної картки, а для бранчів у місті Naypyitaw введення спецільних пропозицій для стимулювання покупців оформлювати клубну картку(напр.кешбек/розіграш призу для покупців,які оформили картки)

Гіпотеза №2 вірна

Гіпотеза №3. Продуктову лінійку Health and beauty купують частіше за інші.

In [61]:
df['Product line'].value_counts()

Product line
Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: count, dtype: int64

Ні,найчастіше купують лінійку Fashion accessories.

In [68]:
#перевіримо який прибуток отримуємо з кожної категорії продуктів та яка надає найбільший

df.groupby('Product line')['gross income'].sum().sort_values(ascending = False)

Product line
Food and beverages        2673.5640
Sports and travel         2624.8965
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Home and lifestyle        2564.8530
Health and beauty         2342.5590
Name: gross income, dtype: float64

Найбльший прибуток ми отримуємо від категорії Food and beverages, на другому та третьому місці - Sports and travel , Electronic accessories відповідно.Лінійка Health and beauty станове найменшу частку прибутку, це означає ,що наша гіпотеза не вірна.

In [73]:
#перевіримо чи в усіх бранчах ці топ три категорії лідирують
line_income = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'gross income', aggfunc = 'sum')

In [74]:
line_income

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,872.2435,777.7385,817.2905,599.893,1067.4855,922.5095
B,811.9735,781.5865,724.5185,951.460,835.6745,951.8190
C,903.2845,1026.6700,1131.7550,791.206,661.6930,750.5680

З наведеної таблиці можна зробити висновок, що тільки у бранчі С категорія Food and beverages дає більший прибуток, адже в інших бранчах ситуація наступна: бранч B - категорія Sports and travel на першому місці за значенням прибутку, а у бранчу A - категорія Home and lifestyle.
Рекомендації: розширити лінійку товарів/ додати акційні ціни на