–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/supermarket_sales.csv')  
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

–§—ñ–ª—ñ–∞–ª –° –º–∞—î –Ω–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [34]:
df.pivot_table(index = 'City', columns = 'Branch', values = 'gross income', aggfunc = 'sum')

Branch             A         B          C
City
Mandalay         NaN  5057.032        NaN
Naypyitaw        NaN       NaN  5265.1765
Yangon     5057.1605       NaN        NaN

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º (–°) –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —É –º—ñ—Å—Ç—ñ Naypyitaw.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [39]:
invoices_by_category = df.pivot_table( index = 'Branch', columns = 'Product line', values = 'Invoice ID', aggfunc = 'size')  
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [50]:
invoices_by_category.groupby('Branch')['Electronic accessories'].max()

Branch
A    60
B    55
C    55
Name: Electronic accessories, dtype: int64

–£ —Ñ—ñ–ª—ñ–∞–ª—ñ –ê –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏".

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ì—ñ–ø–æ—Ç–µ–∑–∞ 1. –ñ—ñ–Ω–∫–∏ –∫—É–ø—É—é—Ç—å –±—ñ–ª—å—à–µ –∑–∞ —á–æ–ª–æ–≤—ñ–∫—ñ–≤.

In [51]:
df.groupby('Gender')['Quantity'].sum()

Gender
Female    2869
Male      2641
Name: Quantity, dtype: int64

–¢–∞–∫,–∂—ñ–Ω–∫–∏ –∫—É–ø—É—é—Ç—å —Ç—Ä–æ–∑–∏ –±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∏, –∞–ª–µ —Ä—ñ–∑–Ω–∏—Ü—è —É 200+ –æ–¥–∏–Ω–∏—Ü—å –Ω–µ –¥—É–∂–µ –≤–µ–ª–∏–∫–∞.–ü–µ—Ä–µ–≤—ñ—Ä–∏–º–æ —á–∏ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –∂—ñ–Ω–∫–∏ –±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –Ω—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∏.

In [52]:
df.groupby('Gender')['gross income'].sum()

Gender
Female    7994.425
Male      7384.944
Name: gross income, dtype: float64

In [54]:
#–ø–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —è–∫–∏–π –≤—ñ–¥—Å–æ—Ç–æ–∫ –ø—Ä–∏–±—É—Ç–∫—É —Å—Ç–∞–Ω–æ–≤–ª—è—Ç—å –ø–æ–∫—É–ø–∫–∏ –≤—ñ–¥ –∂—ñ–Ω–æ–∫ —Ç–∞ –≤—ñ–¥ —á–æ–ª–æ–≤—ñ–∫—ñ–≤
df.groupby('Gender')['gross income'].sum() / df['gross income'].sum()

Gender
Female    0.519815
Male      0.480185
Name: gross income, dtype: float64

–û—Ç–∂–µ, –∑–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º–∏ –º–æ–∂–µ–º–æ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫,—â–æ –∂—ñ–Ω–∫–∏ –∫—É–ø—É—é—Ç—å –Ω–∞ –±—ñ–ª—å—à—É —Å—É–º—É —Ç–æ–≤–∞—Ä—ñ–≤ —ñ —Å—Ç–∞–Ω–æ–≤–ª—è—Ç—å 52% –≤—Å—å–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É,–∫–æ–ª–∏ –ø—Ä–∏–±—É—Ç–æ–∫ –≤—ñ–¥ –ø–æ–∫—É–ø–æ–∫,–∑—Ä–æ–±–ª–µ–Ω–∏—Ö —á–æ–ª–æ–≤—ñ–∫–∞–º–∏ —Å—Ç–∞–Ω–æ–≤–∏—Ç—å –Ω–∞ 4 % –º–µ–Ω—à–µ.

–ì—ñ–ø–æ—Ç–µ–∑–∞ ‚Ññ1 –≤—ñ—Ä–Ω–∞. –ú–æ–∂–ª–∏–≤—ñ –±—ñ–∑–Ω–µ—Å-—Ä—ñ—à–µ–Ω–Ω—è: —Å—Ç–∏–º—É–ª—é–≤–∞–Ω–Ω—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤ –∫—É–ø—É–≤–∞—Ç–∏ –±—ñ–ª—å—à–µ –≤–≤–µ–¥–µ–Ω–Ω—è–º –∞–∫—Ü—ñ–π/—Å–ø–µ—Ü—ñ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ–π –Ω–∞ —Ç–æ–≤–∞—Ä–∏ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤;—Ç–∞–∫–µ –∂ —Å–∞–º–µ –º–æ–∂–Ω–∞ –≤–≤–µ—Å—Ç–∏ —ñ –¥–ª—è –∂—ñ–Ω–æ–∫.

–ì—ñ–ø–æ—Ç–µ–∑–∞ ‚Ññ2.–ü–æ–∫—É–ø—Ü—ñ –∑ –∫–ª—É–±–Ω–æ—é –∫–∞—Ä—Ç–∫–æ—é –∫—É–ø—É—Ç—å –±—ñ–ª—å—à–µ.

In [57]:
pivot_member = df.pivot_table(index = 'Customer type', columns = 'City', values = 'Total', aggfunc = 'sum')  
pivot_member

City            Mandalay   Naypyitaw      Yangon
Customer type
Member         53704.686  56881.2825  53637.4755
Normal         52492.986  53687.4240  52562.8950

–ó–≥—ñ–¥–Ω–æ –æ—Ç—Ä–∏–º–∞–Ω–æ—ó —Ç–∞–±–ª–∏—Ü—ñ –º–æ–∂–Ω–º –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫, —â–æ –≤ —É—Å—ñ—Ö –º—ñ—Å—Ç–∞—Ö –ø–æ–∫—É–ø—Ü—ñ –∑ –∫–ª—É–±–Ω–æ—é –∫–∞—Ä—Ç–æ—é –∫—É–ø–ª—è—é—Ç—å –Ω–∞ –∑–∞–≥–∞–ª—å–Ω—É —Å—É–º—É –±—ñ–ª—å—à–µ,–Ω—ñ–∂ –ø–æ–∫—É–ø—Ü—ñ –±–µ–∑ –∫–∞—Ä—Ç–∏. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó: –≤–≤–µ–¥–µ–Ω–Ω—è –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö —Å–ø–µ—Ü—ñ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ–π/—Ü—ñ–Ω –¥–ª—è –≤–ª–∞—Å–Ω–∏–∫—ñ–≤ –∫–ª—É–±–Ω–æ—ó –∫–∞—Ä—Ç–∫–∏, –∞ –¥–ª—è –±—Ä–∞–Ω—á—ñ–≤ —É –º—ñ—Å—Ç—ñ Naypyitaw –≤–≤–µ–¥–µ–Ω–Ω—è —Å–ø–µ—Ü—ñ–ª—å–Ω–∏—Ö –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ–π –¥–ª—è —Å—Ç–∏–º—É–ª—é–≤–∞–Ω–Ω—è –ø–æ–∫—É–ø—Ü—ñ–≤ –æ—Ñ–æ—Ä–º–ª—é–≤–∞—Ç–∏ –∫–ª—É–±–Ω—É –∫–∞—Ä—Ç–∫—É(–Ω–∞–ø—Ä.–∫–µ—à–±–µ–∫/—Ä–æ–∑—ñ–≥—Ä–∞—à –ø—Ä–∏–∑—É –¥–ª—è –ø–æ–∫—É–ø—Ü—ñ–≤,—è–∫—ñ –æ—Ñ–æ—Ä–º–∏–ª–∏ –∫–∞—Ä—Ç–∫–∏)

–ì—ñ–ø–æ—Ç–µ–∑–∞ ‚Ññ2 –≤—ñ—Ä–Ω–∞

–ì—ñ–ø–æ—Ç–µ–∑–∞ ‚Ññ3. –ü—Ä–æ–¥—É–∫—Ç–æ–≤—É –ª—ñ–Ω—ñ–π–∫—É Health and beauty –∫—É–ø—É—é—Ç—å —á–∞—Å—Ç—ñ—à–µ –∑–∞ —ñ–Ω—à—ñ.

In [61]:
df['Product line'].value_counts()

Product line
Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: count, dtype: int64

–ù—ñ,–Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å –ª—ñ–Ω—ñ–π–∫—É Fashion accessories.

In [68]:
#–ø–µ—Ä–µ–≤—ñ—Ä–∏–º–æ —è–∫–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –æ—Ç—Ä–∏–º—É—î–º–æ –∑ –∫–æ–∂–Ω–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ —Ç–∞ —è–∫–∞ –Ω–∞–¥–∞—î –Ω–∞–π–±—ñ–ª—å—à–∏–π

df.groupby('Product line')['gross income'].sum().sort_values(ascending = False)

Product line
Food and beverages        2673.5640
Sports and travel         2624.8965
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Home and lifestyle        2564.8530
Health and beauty         2342.5590
Name: gross income, dtype: float64

–ù–∞–π–±–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –º–∏ –æ—Ç—Ä–∏–º—É—î–º–æ –≤—ñ–¥ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Food and beverages, –Ω–∞ –¥—Ä—É–≥–æ–º—É —Ç–∞ —Ç—Ä–µ—Ç—å–æ–º—É –º—ñ—Å—Ü—ñ - Sports and travel , Electronic accessories –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ.–õ—ñ–Ω—ñ–π–∫–∞ Health and beauty —Å—Ç–∞–Ω–æ–≤–µ –Ω–∞–π–º–µ–Ω—à—É —á–∞—Å—Ç–∫—É –ø—Ä–∏–±—É—Ç–∫—É, —Ü–µ –æ–∑–Ω–∞—á–∞—î ,—â–æ –Ω–∞—à–∞ –≥—ñ–ø–æ—Ç–µ–∑–∞ –Ω–µ –≤—ñ—Ä–Ω–∞.

In [73]:
#–ø–µ—Ä–µ–≤—ñ—Ä–∏–º–æ —á–∏ –≤ —É—Å—ñ—Ö –±—Ä–∞–Ω—á–∞—Ö —Ü—ñ —Ç–æ–ø —Ç—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ª—ñ–¥–∏—Ä—É—é—Ç—å
line_income = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'gross income', aggfunc = 'sum')

In [74]:
line_income

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,872.2435,777.7385,817.2905,599.893,1067.4855,922.5095
B,811.9735,781.5865,724.5185,951.460,835.6745,951.8190
C,903.2845,1026.6700,1131.7550,791.206,661.6930,750.5680

–ó –Ω–∞–≤–µ–¥–µ–Ω–æ—ó —Ç–∞–±–ª–∏—Ü—ñ –º–æ–∂–Ω–∞ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫, —â–æ —Ç—ñ–ª—å–∫–∏ —É –±—Ä–∞–Ω—á—ñ –° –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Food and beverages –¥–∞—î –±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫, –∞–¥–∂–µ –≤ —ñ–Ω—à–∏—Ö –±—Ä–∞–Ω—á–∞—Ö —Å–∏—Ç—É–∞—Ü—ñ—è –Ω–∞—Å—Ç—É–ø–Ω–∞: –±—Ä–∞–Ω—á B - –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Sports and travel –Ω–∞ –ø–µ—Ä—à–æ–º—É –º—ñ—Å—Ü—ñ –∑–∞ –∑–Ω–∞—á–µ–Ω–Ω—è–º –ø—Ä–∏–±—É—Ç–∫—É, –∞ —É –±—Ä–∞–Ω—á—É A - –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Home and lifestyle.
–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó: —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –ª—ñ–Ω—ñ–π–∫—É —Ç–æ–≤–∞—Ä—ñ–≤/ –¥–æ–¥–∞—Ç–∏ –∞–∫—Ü—ñ–π–Ω—ñ —Ü—ñ–Ω–∏ –Ω–∞